.place-order {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 30px 20px;
}

.page-title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 30px;
  color: #f9872a;
}

.order-container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.order-details {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 25px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0,0,0,0.08);
}

.order-details h3 {
  color: #f9872a;
}

.order-details input {
  padding: 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
  outline: none;
  transition: .2s;
}

.order-details input:focus {
  border-color: #f9872a;
  box-shadow: 0 0 6px rgba(249, 135, 42, 0.3);
}

.input-group {
  display: flex;
  gap: 15px;
}

.confirm-order-btn:hover {
  background: #e2771c;
}

.order-summary {
  flex: 1;
  padding: 25px;
  background: #fff;
  border-radius: 12px;
  height: fit-content;
  box-shadow: 0 0 12px rgba(0,0,0,0.08);
}

.order-summary h3 {
  margin-bottom: 15px;
}

.summary-item,
.summary-total {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  font-size: 17px;
}

.summary-total {
  margin-top: 10px;
  border-top: 2px solid #eee;
  font-weight: 700;
}

.pay-btn {
  margin-top: 20px;
  width: 100%;
  padding: 14px;
  background: #000;
  border: none;
  color: white;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: .2s;
}

.pay-btn:hover {
  background: #333;
}


@media (max-width: 800px) {
  .order-container {
    flex-direction: column;
  }

  .input-group {
    flex-direction: column;
  }
}