@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  font-family: roboto;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  background-color: #fcfcfc;
}

a{
  text-decoration: none;
  color: inherit;
}

hr{
  border: none;
  height: 1px;
  width: 100vw;
  margin: 0 auto;
  background-color: #a9a9a9;
}

.app-content{
  display: flex;
}



/* toast message */
.custom-toast {
  background: #ffffff;
  color: #222;
  border-radius: 8px;
  border-left: 5px solid #4caf50;
}

.custom-toast-body {
  font-size: 14px;
  font-weight: 500;
}

/* Dark Mode */
body.dark .custom-toast {
  background: #1e1e1e;
  color: #f3f3f3;
  border-left: 5px solid #ff9800;
}

body.dark .custom-toast-body {
  font-size: 14px;
  font-weight: 500;
}