.navbar{
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo{
    height: 38px;
    width: 155px;
}

.navbar-menu{
    display: flex;
    list-style: none;
    gap: 20px;
    color: black;
    font-size: 18px;
}

.navbar-right{
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar button{
     background-color: #f7872d; 
    color: white;            
    padding: 12px 24px;        
    font-size: 14px;           
    font-family: roboto;
    border: none;              
    border-radius: 20px;       
    cursor: pointer;          
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.navbar button:hover {
    background-color: #e6731f;
    transform: translateY(-2px);
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}

.navbar button:active {
    transform: translateY(0);
    box-shadow: 0 3px 5px rgba(0,0,0,0.1);
}

.cart-icon{
    color: #f7872d;
    font-size: 30px;
    cursor: pointer;
}

.search-icon{
    color: #f7872d;
    font-size: 30px;
    cursor: pointer;
}

.navbar .active {
    padding-bottom: 2px;
    border-bottom: 2px solid #f7872d;
}

.navbar li{
    cursor: pointer;
}

.navbar-search-icon{
    position: relative;
}

.navbar-search-icon .dot{
    position: absolute;
    min-width: 8px;
    min-height: 8px;
    background-color: #eea263;
    border-radius: 5px;
    top: -6px;
    right: -6px;
}


/* Dark Mode */


body.dark {
    background-color: #111111;
    color: #f9f9f9;
}

body.dark .navbar {
    background-color: #111111;
    color: #fff;
}

body.dark .navbar-menu li {
    color: #fff;
}

body.dark .navbar .active {
    border-bottom: 2px solid #ff9933;
}