@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Satisfy&display=swap');

.header{
    width: 100%;
    height: 40vw;
    margin: 30px auto;
    background: url('../../../public/banner1.png') no-repeat;
    background-size: contain;
    position: relative;
    border-radius: 22px;
}

.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 6.6vw;
    max-width: 50%;
    bottom: 5%;
    left: 4%;
}

.header-contents h2{
  display: flex;
  transform: translateY(-190px);
  font-size: 40px;
}

.header-contents button{
    display: flex;
    margin-left: 28px;
    transform: translateY(-30px);
}


.header-contents button {
  background-color: transparent;       
  color: #1e1e1e;                       
  border: 2px solid #1e1e1e;              
  border-radius: 16px;                
  padding: 10px 14px;                 
  font-size: 16px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;  
  cursor: pointer;
  transition: all 0.3s ease;           
  position: relative;
  overflow: hidden;
  margin-left: 28px;
  transform: translateY(-30px);
}

.header-contents button:hover {
  color: white;                      
  border-color: black;               
  transform: translateY(-32px) scale(1.05);
  background-color: black;
}


/* Dark Mode */

body.dark .header-contents button{
  color: #fff;
  border: 2px solid #fff;
}

body.dark .header-contents button:hover{
  background-color: #ff9933;
}